{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block mainContent %}
  <div class="container">
    <div class="row" style="margin: 5rem 2rem;">
    	<div class="col-sm-3">
        <img src="//placehold.it/150" class="m-x-auto img-fluid" alt="avatar">
        <h5>{{ user.username }}</h5>
        <label class="custom-file">
        	<input type="file" id="file" class="custom-file-input">
          <span class="custom-file-control">Choose file</span>
        </label>
      </div>

      <div class="col-sm-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
          	<a href="#!" data-target="#bookings" data-toggle="tab" class="nav-link active">Reservations</a>
          </li>
          <li class="nav-item">
            <a href="#!" data-target="#settings" data-toggle="tab" class="nav-link">Setting</a>
          </li>
          <li class="nav-item">
            <a href="#!" data-target="#restaurants" data-toggle="tab" class="nav-link">My Restaurants</a>
          </li>
        </ul><br>

        <div class="tab-content">
          <div class="tab-pane active" id="bookings">
          	<table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Restaurant Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for booking in reservations %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{ booking.restaurant.name }}</td>
                    <td>{{ booking.restaurant.location }}</td>
                    <td>{{ booking.booking_date }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="tab-pane" id="settings">
            <div class="col-sm-9">
              <div class="form-wrapper">
                <h1 class="title text-center">Update Profile</h1><hr>
                <form class="form" method="POST" action="{% url 'update_user_info' %}">
                  {% csrf_token %}

                  {{ userForm| crispy }}
                  {{ profileForm| crispy }}

                  <input type="submit" value="Update" class="btn btn-info btn-block">
                </form>
              </div>
            </div> 
          </div>

          <div class="tab-pane active" id="restaurants">
            <div class="restaurant_details">
              {% for restaurant in restaurants %}
                <div class="restaurant">
                  <h3> <a href="{% url 'rdetail' restaurant.id %}">{{ restaurant.name }}</a></h3>
                  <dl class="row">
                    <dt class="col-sm-3">Location: </dt>
                    <dd class="col-sm-9">220 King Street, Toronto, Canada.</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">No Reservations: </dt>
                    <dd class="col-sm-9">5</dd>
                  </dl>
                  <dl class="row">
                    <p>
                      <a href="{% url 'rdetail' restaurant.id %}" class="btn btn-info">Edit</a>
                      <a href="{% url 'rdetail' restaurant.id %}" class="btn btn-danger">Delete</a>
                    </p>
                  </dl><hr>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}