{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block mainContent %}
<h1>{{restaurant.name}}</h1>
<h2>{{restaurant.location}}</h2>
<p>Max Capacity:{{restaurant.max_capacity}}</p>
<p>Owned by:{{restaurant.owner}}</p>
<p>Rating:{{restaurant.rating}}</p>
<p>Opening Times: 
    <!-- change integer time to normal people AM/PM time -->
    {% if restaurant.opening_time < 12 %}
    
     {{restaurant.opening_time}}:00 AM
    
    {% else %}
    
     {{restaurant.opening_time|add:"-12"}}:00 PM
    
    {% endif %}
    -
    {% if restaurant.closing_time < 12 %}
    
     {{restaurant.closing_time}}:00 AM
    
    {% else %}
    
     {{restaurant.closing_time|add:"-12"}}:00 PM
    
    {% endif %}
</p>
<p>Description: {{restaurant.description}}</p><hr>

<h2>Reservation Form</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="form-wrapper">
                <h1 class="title text-center">Make Reservation</h1><hr>
                <form class="form" action="{% url 'newReservation' restaurant.id %}" method="POST" >
                    {% csrf_token %}

                    {{ reservationForm| crispy }}
                    <input type="submit" value="Login" class="btn btn-danger btn-block">
                    
                    <hr>
                    <input type="hidden" name="next" value="{{ next }}">
                    <p><a href="{% url 'signup' %}">Make Reservation</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}