{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block mainContent %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-wrapper">
        <h1 class="title">Restaurant Details</h1><hr>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="heading"><b>Name: </b></span>
            <span>{{ restaurant.name }}</span>
          </li>

          <li class="list-group-item">
            <span class="heading"><b>Location: </b></span>
            <a href="https://www.google.com/maps/search/{{ location }}" target="_blank"><h2>{{restaurant.location}}</h2></a>
          </li>

          <li class="list-group-item">
            <span class="heading"><b>Capacity: </b></span>
            <span>{{ restaurant.max_capacity }}</span>
          </li>

          <li class="list-group-item">
            <span class="heading"><b>Rating: </b></span>
            <span>{{ restaurant.rating }}</span>
          </li>

          <li class="list-group-item">
            <span class="heading"><b>Description: </b></span>
            <p class="lead">{{ restaurant.description }}</p>
          </li>

          <li class="list-group-item">
            <span class="heading"><b>Hourse of Operation: </b></span>
              {% if restaurant.opening_time < 12 %}
    
              {{restaurant.opening_time}}:00 AM
            
              {% else %}
            
              {{restaurant.opening_time|add:"-12"}}:00 PM
            
              {% endif %}
              -
              {% if restaurant.closing_time < 12 %}
            
              {{restaurant.closing_time}}:00 AM
            
              {% else %}
            
              {{restaurant.closing_time|add:"-12"}}:00 PM
            
              {% endif %}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="restaurant-reservation-form">
        <div class="form-wrapper">
          <h1 class="title text-center">Make Reservation</h1><hr>
          {% if user.is_authenticated %}
            <form class="form" action="{% url 'newReservation' restaurant.id %}" method="POST" >
              {% csrf_token %}
              {{ reservationForm| crispy }}
              <input type="submit" value="Reserve" class="btn btn-success btn-block"><hr>
              <input type="hidden" name="next" value="{{ next }}">
            </form>
          {% else %}
            <h2 class="text-center bg-danger text-white">Please Login to make a reservation.</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}